
# General Modules
Django>=4.2,<4.3
python-decouple
pillow
djangorestframework
djangorestframework-simplejwt

# Third party Modules
markdown
django-filters
drf-yasg[validation]

# Deployment Modules 

# email third party modules  
django-mail-templated